@import './src/styles.sass'

#employeeImage
    width: 30px
    transition: 0.5s

#employeeImage:hover
    transform: scale(2)

a
    color: $link-color !important

    i.fa
        box-shadow: 0px 0px 1px #888
        padding: 0.2em 0.2em
        margin: 1%
        transition: 0.5s

    i.fa:hover
        transform: scale(1.4)


@media only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 1024px)
    /* Force table to not be like tables anymore */
    table,thead,tbody,th,td,tr 
        display: block
    
    /* Hide table headers*/
    table
        thead 
            tr
                /* Hide table headers*/ 
                display: none
        tr 
            border: 1px solid $secondary-color
        tbody        
            td
                /* Behave  like a "row" */
                position: relative
                padding-left: 32% !important
                word-wrap: break-word

            td:before 
                /* Now like a table header */
                position: absolute
                /* Top/left values mimic padding */
                top: 6px
                left: 6px
            
            /* Label the data */
            td:nth-of-type(1):before
                content: "Employee"

            td:nth-of-type(2):before 
                content: "Office"

            td:nth-of-type(3):before 
                content: "Email"

            td:nth-of-type(4):before
                content: "Social Media"